:root{
    --surface-groud: #f8fafc;
    --surface-card: #ffffff;
    --surface-border:#ebebeb;
    --surface-hover:#edf0fA;
    --text-color: #334155;
    --color-primario: #3b82f6;
    --color-secundario: #f87171;
    --success: #34d399;
    --warning: #f59e0b;
    --danger: #ef4444;
    --text-white: #ffffff;

    --surface-700: #434e5c;

}